<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>270054556306-ackktuec6fpijq7iqqln1ecq2cou5fp5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.270054556306-ackktuec6fpijq7iqqln1ecq2cou5fp5</string>
	<key>API_KEY</key>
	<string>AIzaSyBrd3DaiBJJdC8N2RuvK7YKZJLP6xObCto</string>
	<key>GCM_SENDER_ID</key>
	<string>270054556306</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dnylng.SocialPocket</string>
	<key>PROJECT_ID</key>
	<string>socialpocket-e6b4c</string>
	<key>STORAGE_BUCKET</key>
	<string>socialpocket-e6b4c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:270054556306:ios:9ef6d4849f7a18d9</string>
	<key>DATABASE_URL</key>
	<string>https://socialpocket-e6b4c.firebaseio.com</string>
</dict>
</plist>